{
    "tabWidth": 4,
    "plugins": ["prettier-plugin-go-template"],
    "overrides": [
        {
            "files": ["*.html", "*.css", "*.xml"],
            "options": {
                "parser": "go-template",
                "singleQuote": false
            }
        }
    ]
}
