{{ $author := dict
    "@type" "Person"
    "name" (default .Context.Site.Params.Author.Name .Context.Params.Author)
    "url" (absLangURL "about")
}}

{{ $schema := dict
    "@type" .Type
    "name" (default .Context.Site.Title .Context.Title)
    "license" (default .Context.Site.Params.article.license.default .Context.Params.License | markdownify)
    "description" (partialCached "data/description" .Context .Context.RelPermalink)
    "author" (default .Context.Site.Params.Author.Name .Context.Params.Author)
    "@context" "https://schema.org"
    "url" .Context.Permalink
    "author" $author
    "copyrightHolder" $author
    "dateModified" (.Context.Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML)
    "inLanguage" .Context.Language.LanguageCode
}}

{{ if hasSuffix .Type "Page" }}
    {{ $breadcrumb := partial "head/schema/breadcrumb" . }}
    {{ $schema = merge $schema (dict "breadcrumb" $breadcrumb) }}
{{ end }}

{{ return $schema }}
