{{ $schema := partialCached "head/schema/base" (dict "Context" . "Type" "BlogPosting") .RelPermalink }}

{{ $breadcrumb := partial "head/schema/breadcrumb" . }}
{{ $articleImage := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink }}
{{ $mainEntityOfPage := dict
    "@type" "WebPage"
    "@id" .Permalink
    "breadcrumb" $breadcrumb
}}

{{ $schema = merge $schema (
    dict
    "wordCount" .WordCount
    "headline" .Title
    "mainEntityOfPage" $mainEntityOfPage
    )
}}

{{ with $articleImage.permalink }}
    {{ $schema = merge $schema (dict "image" .) }}
{{ end }}

{{ with .Date }}
    {{ $schema = merge $schema (dict "datePublished" (.Format "2006-01-02T15:04:05-07:00")) }}
{{ end }}

{{ return $schema }}
