{{ $schema := partialCached "head/schema/base" (dict "Context" . "Type" "WebSite") .RelPermalink }}

{{ $searchAction := partialCached "head/schema/search-action" . .Site.Language.Lang }}

{{ $breadcrumb := partial "head/schema/breadcrumb" . }}
{{ $mainEntityOfPage := dict
    "@type" "WebPage"
    "@id" .Permalink
}}
{{ with $breadcrumb.itemListElement }}
    {{ $mainEntityOfPage = merge $mainEntityOfPage (dict
        "breadcrumb" $breadcrumb
        )
    }}
{{ end }}

{{ with .Site.Params.image }}
    {{ $schema = merge $schema (dict "image" (.url | absURL)) }}
{{ end }}

{{ $schema = merge $schema (dict
    "potentialAction" $searchAction
    "mainEntityOfPage" $mainEntityOfPage
    )
}}

{{ return $schema }}
