{{- $authorName := default .Site.Params.Author.Name .Params.Author -}}

{{- $isSearch := eq .Params.Layout "search" -}}

{{ $author := dict
    "@type" "Person"
    "name" $authorName
    "url" (absLangURL "about")
}}

{{ $schema := partialCached "head/schema/base" . .RelPermalink }}

{{ if or .IsHome $isSearch }}
    {{ $searchAction := partialCached "head/schema/search-action" . .Site.Language.Lang }}
    {{ $schema = merge $schema (dict "potentialAction" $searchAction) }}
{{ end }}

{{- if .IsHome }}
    {{ $schema = merge $schema (dict "@type" "WebSite") }}
    {{ with .Site.Params.image }}
        {{ $schema = merge $schema (dict "image" (.url | absURL)) }}
    {{ end }}
{{- else if eq .Params.Layout "about" }}
    {{ $schema = partial "head/schema/profile-page" . }}
{{- else if $isSearch }}
    {{ $schema = merge $schema (dict "@type" "SearchResultsPage") }}
{{- else if .IsPage }}
    {{- $articleImage := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    {{- with $articleImage.permalink }}
        {{ $schema = merge $schema (dict "image" .) }}
    {{ end -}}
    {{ $schema = merge $schema (
        dict
        "@type" "BlogPosting"
        "wordCount" .WordCount
        "headline" .Title
        "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
        )
    }}

    {{ with .Date }}
        {{ $schema = merge $schema (dict "datePublished" (.Format "2006-01-02T15:04:05-07:00")) }}
    {{ end }}
{{- end }}

<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "    ") | safeJS }}
</script>
