{{- $authorName := default .Site.Params.Author.Name .Params.Author -}}

{{- $isSearch := eq .Params.Layout "search" -}}
{{- $isAbout := eq .Params.Layout "about" -}}

{{ $author := dict
    "@type" "Person"
    "name" $authorName
    "url" (absLangURL "about")
}}

{{ $searchAction := dict
    "@type" "SearchAction"
    "name" "Internal search"
    "target" (
    dict
    "@type" "EntryPoint"
    "urlTemplate" (absLangURL "search/?keyword={search_term_string}")
    )
    "query-input" "required name=search_term_string"
}}

{{ $schema := partialCached "head/schema/base" . .RelPermalink }}

{{ if or .IsHome $isSearch }}
    {{ $schema = merge $schema (dict "potentialAction" $searchAction) }}
{{ end }}

{{- if .IsHome }}
    {{ $schema = merge $schema (dict "@type" "WebSite") }}
    {{ with .Site.Params.image }}
        {{ $schema = merge $schema (dict "image" (.url | absURL)) }}
    {{ end }}
{{- else if $isAbout }}
    {{ $sameAs := slice }}
    {{ range .Site.Menus.social }}
        {{ $sameAs = $sameAs | append (.URL | absURL) }}
    {{ end }}

    {{ $schema = merge $schema (
        dict
        "@type" "ProfilePage"
        "mainEntity" (dict
        "@type" "Person"
        "name" $authorName
        "sameAs" $sameAs
        )
        )
        }}

    {{- with .Site.Params.sidebar.avatar }}
        {{ if (default true .enabled) }}
            {{- $src := .src -}}

            {{- if .local -}}
                {{ $avatar := resources.Get .src }}
                {{- $src = $avatar.Permalink -}}
            {{- end -}}

            {{ $schema = merge $schema (dict "image" $src) }}
        {{ end }}
    {{ end }}

{{- else if $isSearch }}
    {{ $schema = merge $schema (dict "@type" "SearchResultsPage") }}
{{- else if .IsPage }}
    {{- $articleImage := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    {{- with $articleImage.permalink }}
        {{ $schema = merge $schema (dict "image" .) }}
    {{ end -}}
    {{ $schema = merge $schema (
        dict
        "@type" "BlogPosting"
        "wordCount" .WordCount
        "headline" .Title
        "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
        )
    }}

    {{ with .Date }}
        {{ $schema = merge $schema (dict "datePublished" (.Format "2006-01-02T15:04:05-07:00")) }}
    {{ end }}
{{- end }}

<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "    ") | safeJS }}
</script>
