{{ $schema := partialCached "head/schema/base" . .RelPermalink }}

{{- if .IsHome }}
    {{ $schema = partialCached "head/schema/home-page" . .RelPermalink }}
{{- else if eq .Params.Layout "about" }}
    {{ $schema = partial "head/schema/profile-page" . }}
{{- else if eq .Params.Layout "search" }}
    {{ $schema = partialCached "head/schema/search-page" . .RelPermalink }}
{{- else if .IsPage }}
    {{ $schema = partialCached "head/schema/blog-page" . .RelPermalink }}
{{- end }}

<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "    ") | safeJS }}
</script>
