{{- $license := default .Site.Params.article.license.default .Params.License | markdownify -}}
{{- $title := default .Site.Title .Title -}}
{{- $url := default .Site.BaseURL .Permalink -}}
{{- $description := partialCached "data/description" . .RelPermalink -}}
{{- $author := default .Site.Params.Author.Name .Params.Author -}}

{{- $avatar := .Site.Params.Sidebar.Avatar -}}
{{- $avatar := cond $avatar.local $avatar $avatar.src -}}

<script type="application/ld+json">
{
    "name": {{ $title }},
    "@context": "http://schema.org",
    "author": {
        "@type": "Person",
        "name": {{ $author }}
    },
    "copyrightHolder": {
        "@type": "Person",
        "name": {{ $author }}
    },
    "license": {{ $license }},
    "url": {{ $url }},
    {{ with $description -}}
    "description": {{ . }},
    {{- end -}}
{{- if .IsHome }}
    "@type": "WebSite",
    {{ with .Site.Params.image -}}
    "image": {{ .url | absURL }},
    {{- end }}
    "thumbnailUrl": {{ $avatar }},
    "potentialAction": {
        "@type": "SearchAction",
        "name": "Internal search",
        "target": {
            "@type": "EntryPoint",
            "urlTemplate": {{ printf "%ssearch/?keyword={search_term_string}" .Site.BaseURL}}
        },
        "query-input": "required name=search_term_string"
    }
{{- else if .IsPage }}
    {{- if eq .Params.Layout "about" }}
    "@type": "ProfilePage",
    "mainEntity": {
        "@type": "Person",
        "name": {{ $author }},
        "sameAs": [
        {{- range $k, $_ := .Site.Menus.social -}}
            {{ if $k }},{{ end }}
            {{ .URL | absURL -}}
        {{ end }}
        ]
    },
    "image": {{ $avatar }},
    {{ else -}}
    "@type": "BlogPosting",
    "headline": {{ $title }},
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ $url }}
    },
        {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
        {{- with $image.permalink }}
    "image": {{ . }}
        {{ end -}}
    {{ end -}}

    {{- with .Date }}
    "datePublished": {{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }},
    {{ end -}}
    {{- with .Lastmod }}
    "dateModified": {{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}
    {{ end -}}
{{- end }}
}
</script>
