{{ $license := default .Site.Params.article.license.default .Params.License | markdownify }}
{{ $title := default .Site.Title .Title }}
{{ $url := default .Site.BaseURL .Permalink }}
{{ $description := default .Summary .Description }}

<script type="application/ld+json">
{
    "name": "{{ $title }}",
    "@context": "http://schema.org",
    {{ with (or .Params.Author .Site.Params.Author.Name) -}}
        "author": {
            "@type": "Person",
            "name": "{{ . }}"
        },
    {{- end }}
    {{ with $license -}}
        "license": "{{ . }}",
    {{- end }}
    "url": "{{ $url }}",
    {{ with $description -}}
    "description": "{{ . }}",
    {{- end -}}
{{- if .IsHome -}}
    "@type": "WebSite",
    {{ with .Site.Params.image -}}
    "image": "{{ .url | absURL }}",
    {{- end }}
    {{ with .Site.Params.logo -}}
    "thumbnailUrl": "{{ .url | absURL }}",
    {{- end -}}
    "potentialAction": {
        "@type": "SearchAction",
        "target": {
            "@type": "EntryPoint",
            "urlTemplate": "https://thejiahao.github.io/search/?keyword={search_term_string}"
        },
        "query-input": "required name=search_term_string"
    }
{{- else if .IsPage }}
    "@type": "BlogPosting",
    "headline": "{{ $title }}",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ $url }}"
    },
    {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
    {{ with $image.permalink }}
    "image": {{ . }},
    {{- end }}
    {{ with (or .Params.Keywords .Params.Tags) -}}
    "keywords": "{{ delimit . ", " }}",
    {{- end }}
    "wordcount": {{ .WordCount }},
    {{- with .Date -}}
    "datePublished": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
    {{- end }}
    {{ with .Lastmod -}}
    "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
    {{- end }}
{{- end }}
}
</script>
