---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/Blog";
import BaseHead from "../../components/BaseHead.astro";
import LinkList from "../../components/LinkList";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseHead {...post.data} />
<main
    class="prose flex"
    un-max-w="80ch"
    un-mx="auto"
    un-gap-y="7"
    un-flex="col"
>
    <BlogPost {...post.data} client:only="react">
        <Content />
    </BlogPost>
    <LinkList links={post.data.links || []} />
</main>
