description: Set up Node and pnpm

runs:
  using: composite
  steps:
    - name: Enable corepack
      run: corepack enable
      shell: bash

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: pnpm

    - name: Install dependencies
      run: pnpm install
      shell: bash
