@use "sass:map";

$colors: (
    "note": rgb(8, 109, 221),
    "warning": rgb(236, 117, 0),
    "caution": rgb(233, 49, 71),
    "tip": rgb(0, 191, 188),
    "important": rgb(120, 82, 238),
);

.markdown-alert {
    @apply card p-lg my-5;
}

.markdown-alert-title {
    @apply text-lg font-bold flex items-center gap-4 m-0;
}

@each $name, $color in $colors {
    .markdown-alert-#{$name} {
        svg.octicon {
            fill: currentColor;
        }

        .markdown-alert-title {
            color: $color;
        }

        background-color: rgba($color, 0.1);
    }
}
