.prose,
[prose=""] {
    :not(pre) {
        overflow-wrap: break-word;
        hyphens: auto;

        & > code {
            @apply p-1 rounded-md font-mono text-code bg-surface-code;

            &::before,
            &::after {
                content: unset;
            }
        }

        a {
            text-decoration: underline 2px;
            text-underline-offset: 0.25em;
            color: theme("colors.link");
        }

        p,
        code {
            font-size: large;
        }

        figure {
            @apply flex flex-col gap-2 items-center;

            figcaption {
                @apply text-secondary;
            }
        }
    }

    .expressive-code {
        @apply my-5;
    }

    .data-footnote-backref {
        text-decoration: none;
    }
}
