@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@use "sass:map";

$colors: (
    "info": rgb(8, 109, 221),
    "warning": rgb(236, 117, 0),
);

$icons: (
    "info": "\F431",
    "warning": "\F33B",
);

.callout {
    margin: 1em 0;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);

    &-title {
        vertical-align: middle;
    }

    @each $name, $color in $colors {
        &-#{$name} {
            background-color: rgba($color, 0.1);

            .callout-title {
                color: $color;
            }
        }
    }

    @each $name, $icon in $icons {
        &-#{$name} {
            .callout-title::before {
                content: $icon;
                font-family: "bootstrap-icons";
                margin-right: 0.5rem;
                vertical-align: baseline;
            }
        }
    }
}
