@use "sass:map";

$colors: (
    "info": rgb(8, 109, 221),
    "warning": rgb(236, 117, 0),
);

$icons: (
    "info": "ℹ️",
    "warning": "⚠️",
);

.callout {
    margin: 1em 0;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);

    @each $name, $color in $colors {
        &-#{$name} {
            background-color: rgba($color, 0.1);

            &-title {
                color: $color;
            }
        }
    }

    @each $name, $icon in $icons {
        &-#{$name}-title::before {
            content: $icon;
            margin-right: 0.5rem;
        }
    }
}
