$defaultTagBackgrounds: #8ea885, #df7988, #0177b8, #ffb900, #6b69d6;
$defaultTagColors: #1b1b1f, #1b1b1f, #ffffff, #1b1b1f, #ffffff;

/* Default article style */
.article-list {
    article {
        @for $i from 1 through length($defaultTagBackgrounds) {
            &:nth-child(#{length($defaultTagBackgrounds)}n + #{$i}) {
                .article-category a {
                    background: nth($defaultTagBackgrounds, $i);
                    color: nth($defaultTagColors, $i);
                }
            }
        }
    }
}

/*
*   Global style
*/
:root {
    --main-top-padding: 35px;

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --body-background: #f4f4f4;

    --accent-color: #005782;
    --accent-color-darker: #003f5f;
    --accent-color-text: #ffffff;
    --body-text-color: #444444;

    --tag-border-radius: 4px;

    --section-separation: 40px;

    --scrollbar-thumb: hsl(0, 0%, 85%);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {
        --body-background: #161618;
        --accent-color: #84c5e6;
        --accent-color-darker: #60b5df;
        --accent-color-text: #000000;
        --body-text-color: #f4f4f4;
        --scrollbar-thumb: hsl(0, 0%, 40%);
        --scrollbar-track: var(--body-background);
    }
}

/*
*   Card style
*/
:root {
    --card-background: #fff;
    --card-background-selected: #eaeaea;

    --card-text-color-main: #000;
    --card-text-color-secondary: #747474;
    --card-text-color-tertiary: #767676;
    --card-separator-color: rgba(218, 218, 218, 0.5);

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background: #1b1b1f;
        --card-background-selected: rgba(255, 255, 255, 0.16);
        --card-text-color-main: rgba(255, 255, 255, 0.9);
        --card-text-color-secondary: rgba(255, 255, 255, 0.7);
        --card-text-color-tertiary: rgba(255, 255, 255, 0.5);
        --card-separator-color: rgba(255, 255, 255, 0.12);
    }
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;
    --blockquote-background-color: rgb(248 248 248);

    --heading-border-size: 4px;

    --link-background-color: 189, 195, 199;
    --link-background-opacity: 0;
    --link-background-opacity-hover: 0.4;

    --code-background-color: #f2f1f1;
    --code-text-color: #18794e;

    --table-border-color: #dadada;
    --tr-even-background-color: #efefee;

    --kbd-border-color: #dadada;

    &[data-scheme="dark"] {
        --code-background-color: #272a2f;
        --code-text-color: #2eb172;

        --table-border-color: #717171;
        --tr-even-background-color: #545454;

        --blockquote-background-color: rgb(75 75 75);
    }
}