/*
    You can add your own custom styles here.
*/

@use "math.scss";
@import "code_block.scss";
@import "font.scss";
@import "colors.scss";
@import "image.scss";
@import "footer.scss";
@import "theme_toggle.scss";
@import "callout.scss";

// 滚动条
::-webkit-scrollbar-thumb {
    border-radius: var(--card-border-radius);
}

.link {
    text-decoration: underline 2px;
    text-underline-offset: 0.25em;
}
