/*
    You can add your own custom styles here.
*/

@use "components/math.scss";
@import "components/code_block.scss";
@import "components/callout.scss";
@import "components/image.scss";
@import "components/footer.scss";
@import "components/theme_toggle.scss";
@import "config/font.scss";
@import "config/colors.scss";

// 滚动条
::-webkit-scrollbar-thumb {
    border-radius: var(--card-border-radius);
}

.link {
    text-decoration: underline 2px;
    text-underline-offset: 0.25em;
}
