@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@use "sass:map";

$colors: (
    "info": rgb(8, 109, 221),
    "warning": rgb(236, 117, 0),
);

.callout {
    margin: 1em 0;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);

    @each $name, $color in $colors {
        &-#{$name} {
            background-color: rgba($color, 0.1);

            .callout-title {
                color: $color;
            }
        }
    }

    &-title {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        pointer-events: none;

        &::after,
        &::marker {
            display: none;
        }
    }

    &.collapsible {
        .callout-title {
            pointer-events: auto;

            &::after {
                display: unset;
                content: "\F285";
                font-family: "bootstrap-icons";
            }
        }

        &[open] {
            .callout-title::after {
                content: "\F282";
            }
        }
    }
}
