---
import BaseHeader from "components/atoms/BaseHeader.astro";
import BackLink from "components/molecules/BackLink";

const title = "404 - Page not found";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHeader {title} noindex />
    </head>
    <body bg-surface-secondary>
        <main size-screen flex="~ col" justify-center items-center gap-4>
            <h1 text="4xl primary" font-bold>{title}</h1>
            <BackLink language="en" label="Return to homepage" />
        </main>
    </body>
</html>
