---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import BlogList from "../components/BlogList";
import InfoCard from "../components/InfoCard";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const blogs = await getCollection("posts");
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="flex">
        <aside class="sticky" un-self="start" un-top="0">
            <InfoCard />
        </aside>
        <main>
            <BlogList
                blogs={blogs.map((blog) => {
                    return { ...blog.data, slug: blog.slug };
                })}
            />
        </main>
    </body>
</html>
