---
import { languages } from "../utils/translation";
---

<div inline-flex items-center gap-2>
    <span class="i-fluent-emoji-flat-globe-with-meridians"></span>
    <select onchange="window.location.href=this.value">
        {
            languages.map(({ name, code }) => (
                <option value={code} selected={code === Astro.currentLocale}>
                    {name}
                </option>
            ))
        }
    </select>
</div>
