---
import { type ImageMetadata } from "astro";
import CoverImage from "components/atoms/CoverImage";
import Details, { type DetailsProps } from "components/molecules/Details";

interface Props extends DetailsProps {
    image?: ImageMetadata;
}

const { image, ...props } = Astro.props;
---

<header flex="~ col" gap-lg>
    <CoverImage image={image} alt="" />
    <div px-4 lg:px-8>
        <Details {...props} client:idle />
    </div>
</header>
