---
import CoverImage from "components/atoms/CoverImage";
import BlogDetails from "components/molecules/BlogDetails";
import type { BlogEntry } from "utils/getBlogs";

type Props = Pick<
    BlogEntry["data"],
    "image" | "title" | "description" | "date"
>;

const { title, image, date, description } = Astro.props;
---

<header flex="~ col" gap-lg>
    <CoverImage image={image} alt="" />
    <div px-4 lg:px-8>
        <BlogDetails title={title} {description} date={date} />
    </div>
</header>
