---
import CoverImage from "components/atoms/CoverImage";
import BlogDetails from "components/molecules/BlogDetails";
import type { BlogEntry } from "interfaces/BlogEntry";

type Props = Pick<
    BlogEntry["data"],
    "image" | "title" | "description" | "date"
>;

const { image, ...props } = Astro.props;
---

<header flex="~ col" gap-lg>
    <CoverImage image={image} alt="" />
    <div px-4 lg:px-8>
        <BlogDetails {...props} />
    </div>
</header>
