.prose,
[prose=""] {
    :not(pre) {
        & > code {
            &::before,
            &::after {
                content: unset;
            }
            @apply p-1 rounded-md;
            color: theme("colors.accent");
            background-color: theme("colors.code-background");
        }

        a {
            text-decoration: underline 2px;
            text-underline-offset: 0.25em;
        }
    }

    .data-footnote-backref {
        text-decoration: none;
    }
}
