.prose,
[prose=""] {
    :not(pre) {
        overflow-wrap: break-word;
        hyphens: auto;
        text-align: justify;

        & > code {
            @apply p-1 rounded-md;
            color: theme("colors.code");
            background-color: theme("colors.surface.code");
            &::before,
            &::after {
                content: unset;
            }
        }

        a {
            text-decoration: underline 2px;
            text-underline-offset: 0.25em;
            color: theme("colors.link");
        }
        p,
        code {
            font-size: large;
        }

        figure {
            @apply flex flex-col items-center;
        }
    }

    .data-footnote-backref {
        text-decoration: none;
    }
}
