---
import BaseHeader, { type Props } from "components/atoms/BaseHeader.astro";
import { DEFAULT_LANGUAGE } from "config";
---

<!doctype html>
<html lang={Astro.currentLocale ?? DEFAULT_LANGUAGE}>
    <head>
        <BaseHeader {...Astro.props} />
        <slot name="head" />
    </head>
    <body min-h-screen flex="~ col" lg="grid grid-sidebars">
        <slot name="left-sidebar">
            <div></div>
        </slot>

        <slot />

        <slot name="right-sidebar" />
    </body>
</html>
