---
import type { ImageMetadata } from "astro";
import BaseHeader from "../components/BaseHeader.astro";

interface Props {
    title: string;
    description?: string;
    language?: string;
    image?: ImageMetadata;
}

const { language, title, description, image } = Astro.props;
---

<!doctype html>
<html lang={language}>
    <head>
        <BaseHeader title={title} description={description} image={image} />
        <slot name="head" />
    </head>
    <body>
        <slot />
    </body>
</html>
