---
import BaseHeader, { type Props } from "components/atoms/BaseHeader.astro";
import "scss/scrollbar.scss";
---

<!doctype html>
<html lang={Astro.currentLocale} scroll-smooth>
    <head>
        <BaseHeader {...Astro.props} />
        <slot name="head" />
    </head>
    <body
        min-h-screen
        flex="~ col"
        lg="grid grid-sidebars gap-4"
        bg-surface-secondary
    >
        <slot name="left-sidebar">
            <div></div>
        </slot>

        <slot />

        <slot name="right-sidebar" />
    </body>
</html>
