---
import BaseHeader, {
    type Props as BaseHeaderProps,
} from "components/atoms/BaseHeader.astro";
import Sidebar from "components/atoms/Sidebar.astro";
import SiteFooter from "components/molecules/SiteFooter";
import type { TranslatedElement } from "interfaces/TranslatedElement";
import "styles/scrollbar.scss";
import "styles/callout.scss";
import "styles/transition.scss";

export interface Props extends BaseHeaderProps, TranslatedElement {}

const { language } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale} scroll-smooth>
    <head>
        <BaseHeader {...Astro.props} />
        <slot name="head" />
    </head>
    <body
        min-h-screen
        flex="~ col"
        lg="grid grid-sidebars gap-4"
        bg-surface-secondary
    >
        <Sidebar id="left-sidebar">
            <slot name="left-sidebar" />
        </Sidebar>

        <div
            id="main-container"
            flex="~ col"
            p-3
            gap-y-7
            mb-30
            lg="min-w-3xl max-w-4xl py-lg px-unset"
        >
            <slot />
            <SiteFooter {language} />
        </div>

        <Sidebar id="right-sidebar">
            <slot name="right-sidebar" />
        </Sidebar>
    </body>
</html>
