---
import type { CollectionEntry } from "astro:content";
import BaseHeader from "../components/BaseHeader.astro";

interface Props {
    title: string;
    description?: string;
    lang?: string;
    image?: CollectionEntry<"posts">["data"]["image"];
}

const { lang, title, description, image } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <BaseHeader title={title} description={description} image={image} />
    </head>
    <body>
        <slot />
    </body>
</html>
