---
import SiteFooter from "components/molecules/SiteFooter";
import { DEFAULT_LANGUAGE } from "config";

const language = Astro.currentLocale ?? DEFAULT_LANGUAGE;
---

<div flex="~ col" p-lg gap-y-7>
    <main flex="~ col" gap-y-7 lg="min-w-3xl max-w-4xl">
        <slot />
    </main>

    <SiteFooter {language} />
</div>
