name: CI
on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true

jobs:
  format_lint:
    name: Format and lint
    runs-on: ubuntu-latest
    env:
      HUSKY: 0

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up
        uses: ./.github/workflows/setup-action

      - name: Format
        run: bun run format:ci

      - name: Lint
        run: bun run lint:fix

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github-actions[bot]
          author_email: github-ations[bot]@users.noreply.github.com
          message: "style: Format code"

  unit_test:
    name: Unit test
    runs-on: ubuntu-latest
    environment: test

    steps:
      - uses: actions/checkout@v4

      - name: Set up
        uses: ./.github/workflows/setup-action

      - name: Test code
        run: bun run coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: ./coverage/coverage-final.json

  e2e_test:
    name: End-to-end test
    uses: ./.github/workflows/e2e.yml
